body {
    background: linear-gradient(to left top, #0b48a3, #3745a4, #5040a3, #653ba0, #77349c) no-repeat center center fixed;
    font: 15px Arial, sans-serif;

}
.animate-character{
    text-transform: uppercase;
    background-image: linear-gradient(
            -220deg,
            #ffffff 0%,
            #44107a 29%,
            #ff1361 67%,
            #ffffff 100%
    );
    background-size: auto auto;
    /*background-clip: border-box;*/
    background-size: 200%;
    color: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 50px;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}
